#Object folders
o
o_win
*.o
*.obj

#Possible executables
FallOfDyrangor
FoD_DEBUG
*.exe
*.dll
*.so
build

#Settings file
settings.txt

#Text editor stuff
*.kate-swp
*.swp
*.kdev4

#Log files
log
*.log
